
.post-menu {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 78px;
    height: 42px;
    cursor: pointer;
    z-index: 1;
}

.post-menu__square {
    position: absolute;
    top: 22px;
    width: 10px;
    height: 10px;
    background-color: #cecece;
    transition: all 100ms linear;
}

.post-menu__square_first {
    left: 20px;
}

.post-menu__square_second {
    left: 33px;
}

.post-menu__square_third {
    left: 46px;
}

/* active */
.post-menu__square_first.active {
    transform: translateY(2px);
}

.post-menu__square_second.active {
    transform: translateY(-5px);
}

.post-menu__square_third.active {
}
