
.PostMenuButton {
    position: relative;
    display: inline-block;
    width: 78px;
    height: 42px;
    cursor: pointer;
}

.PostMenuButton__square {
    position: absolute;
    top: 21px;
    width: 10px;
    height: 10px;
    background-color: #C9C9C9;
}

.PostMenuButton__square_first {
    left: 19px;
}

.PostMenuButton__square_second {
    left: 33px;
}

.PostMenuButton__square_third {
    left: 47px;
}

/* active */
